@import url(https://fonts.googleapis.com/css?family=Nunito);@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  h1,
  .h1 {
    font-size: 22px !important;
    margin: 8px auto !important;
  }

  .right {
    position: relative;
    bottom: 7px;
  }

  .title-card {
    position: absolute;
  }

  .card-header > h3 {
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }

  .title-card {
    position: absolute;
  }

  .card-header > h3 {
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
    visibility: hidden;
    height: 0;
    padding: 0 !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
    visibility: hidden;
    height: 0;
    padding: 0 !important;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.card-table-club {
  padding: 0.5rem 0.5rem !important;
}

.alert-success {
  background-color: #23af47 !important;
}

.alert-warning {
  background-color: #fbbc06 !important;
}

.alert-danger {
  background-color: #e94437 !important;
  color: white !important;
}

.alert {
  position: fixed !important;
  width: 40%;
  right: 0;
  z-index: 999999;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  border-bottom-left-radius: 0.25rem !important;
  color: #404040 !important;
  top: 9%;
  box-shadow: 0 0.15rem 0.5rem 0 rgba(58, 59, 69, 0.5) !important;
}

.tab-content {
  background-color: white;
}

.error-class {
  text-align: center;
  font-size: 14px;
  color: #c70b0b;
}

.shadow {
  box-shadow: 0 0.15rem 0.5rem 0 rgba(58, 59, 69, 0.5) !important;
}

.btn-nav {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator {
  color: white;
}

.preview-list .preview-item .preview-item-content {
  padding-top: 7px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator:hover {
  color: white !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  padding: 0.65rem 1rem;
}

.content-wrapper {
  padding: 1.25rem 0.5rem !important;
}

.modal-mask {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-mask .modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.card-filters-advanced {
  margin: 0px auto;
  width: 100% !important;
}

.modal-mask .modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-mask .modal-body {
  margin: 10px 0;
  height: auto;
  overflow-y: hidden;
}

.modal-mask .modal-footer {
  height: 10vh;
  padding: 0px 10px;
}

.alert-search-into {
  position: relative;
  left: 0px;
  width: 95%;
}

.modal-mask .modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

small,
.small {
  font-size: 65% !important;
}

.pagination {
  display: inline-flex !important;
}

.club-card-creation {
  padding: 0.875rem 0.875rem !important;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 5px 5px !important;
}

.modal .modal-dialog .modal-content .modal-header {
  padding: 15px 20px !important;
}

.modal .modal-dialog .modal-content .modal-footer {
  padding: 15px 20px !important;
}

.card .card-body {
  padding: 1.875rem 0rem;
}

.search-filters-panel select.form-control {
  border: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.search-filters-panel .card-body {
  padding: 0.875rem 0.875rem !important;
}

.icon-basf-medium {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.search-filters-panel {
  width: 100%;
  z-index: 1;
  padding: 15px;
  position: absolute !important;
  transition: 2s;
  height: auto;
  overflow-y: scroll;
  background-color: #f0f0f0 !important;
  left: 0px;
  top: -1000px;
  box-shadow: 0 0.15rem 0.5rem 0 rgba(58, 59, 69, 0.5) !important;
}

.open-search {
  top: -36px !important;
  transition: 1s !important;
  border-radius: 0px 0px 0.375rem 0.375rem !important;
}

.opts {
  padding: 10px 0px !important;
}

.opts-item {
  padding: 0.25rem 0 !important;
}

.opts-icon {
  padding: 0px 10px !important;
}

.opts-content {
  padding: 10px 10px !important;
}

.swal-footer {
  text-align: center;
}

.title-card {
  margin: 10px auto 0px;
  position: relative;
}

.info-card .card-header,
.info-card .card-footer {
  background-color: transparent !important;
  padding: 0.75rem 0.75rem !important;
}

.card-club .card-header,
.card-club .card-footer {
  padding: 0.75rem 1rem !important;
}

.card-club .card-header {
  background-color: #08c;
}

.card-inactive {
  background-color: #d24d1a6b !important;
}

.card-club .card-header > h3 {
  color: white;
}

.card-club .card-footer {
  background-color: #f0f0f0 !important;
}

.card-club .card-body {
  padding: 0.875rem 1rem !important;
  background-color: white !important;
}

.list-horizontal {
  display: flex !important;
  margin-bottom: 5px !important;
}

.list-horizontal > li {
  padding: 5px 10px;
  border-right: 1px solid;
  font-size: 14px;
}

.list-horizontal > li:first-child {
  padding: 5px 10px 5px 0px !important;
  border-right: 1px solid !important;
}

.list-horizontal > li:last-child {
  padding: 5px 0px 5px 10px !important;
  border-right: 0px solid !important;
}

.card-header,
.card-footer {
  background-color: transparent;
  padding: 0.75rem 0.75rem !important;
}

.light {
  font-weight: 400;
}

.right {
  float: right;
}

.input-group-prepend {
  color: #979797;
  width: auto;
  border: none;
  background-color: #cacaca;
  padding: 0px 10px;
  height: 51px;
  vertical-align: middle;
  border-radius: 8px 0px 0px 8px;
}

.input-group-append > .btn {
  padding: 10px !important;
}

.normal-flag {
  position: relative;
  bottom: 5px;
}

.has-error .editor-toolbar,
.has-error .CodeMirror {
  border-color: #a94442;
}

.form-group {
  margin-bottom: 1.5rem !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 15vh;
}

.vld-overlay.is-full-page {
  z-index: 9999 !important;
}

.vue-form-wizard .wizard-btn {
  border-radius: 0px 8px 8px 0px !important;
  text-align: left !important;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(58, 59, 69, 0.5) !important;
  min-width: 90px !important;
}

.editor-statusbar {
  width: 50%;
  float: right;
}

.has-error .editor-statusbar span {
  color: #a94442;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}

.has-error .form-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.has-error .form-control-feedback {
  color: #a94442;
}

.vue-form-wizard .wizard-nav-pills {
  float: left;
}

.vue-form-wizard .wizard-card-footer .wizard-footer-left,
.vue-form-wizard .wizard-card-footer .wizard-footer-right {
  margin: 5px auto;
}

.vue-form-wizard .wizard-card-footer {
  position: fixed;
  left: 0px;
  padding: 0px !important;
  display: grid;
  top: 38%;
  margin-left: 205px;
}

.basics > .vue-form-generator > fieldset {
  border: none !important;
  padding: 0px 10px !important;
  margin: 0px auto !important;
}

.privacy > .vue-form-generator > fieldset {
  margin: 0px auto !important;
}

.vue-form-wizard .wizard-nav-pills li {
  margin: 5px auto;
}

.vue-form-wizard .wizard-nav-pills > li.active > a > .tab_shape {
  background-color: #25378b !important;
}

.vue-form-wizard .wizard-icon-circle .wizard-icon-container.tab_shape {
  background-color: transparent !important;
  padding: 0px !important;
}

.vue-form-wizard .wizard-nav-pills a,
.vue-form-wizard .wizard-nav-pills li {
  width: 100% !important;
  flex: auto !important;
}

.vue-form-wizard .wizard-nav-pills > li > a.disabled > .tab_shape,
.vue-form-wizard .wizard-nav-pills > li > a > .tab_shape {
  text-align: left !important;
  float: left !important;
  display: block !important;
  padding: 0px 15px !important;
  border-radius: 5px !important;
}

.vue-form-wizard .wizard-nav-pills > li > a.disabled > span,
.vue-form-wizard .wizard-nav-pills > li > a > span {
  position: absolute !important;
  top: 10px !important;
}

.vue-form-wizard .wizard-nav-pills > li.active > a > span {
  color: white !important;
  position: absolute !important;
  top: 10px !important;
}

.vue-form-wizard .wizard-icon-circle .wizard-icon-container {
  text-align: left !important;
  float: left !important;
  display: block !important;
  padding: 0px 15px !important;
}

.vue-form-wizard.md .wizard-nav-pills > li > a .wizard-icon {
  text-align: left !important;
  float: left !important;
  display: block !important;
}

.vue-form-wizard .wizard-tab-content {
  min-height: 100px;
  padding: 10px 10px 10px !important;
  width: 75% !important;
  float: right;
}

.vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
  display: none !important;
}

.wizard-header {
  display: none;
}

.vue-form-wizard .wizard-nav-pills {
  width: 25%;
}

fieldset {
  border: 1px solid #4E73D7 !important;
  margin: 15px auto !important;
  padding: 10px !important;
  position: relative;
  border-radius: 5px;
  background-color: #fff !important;
  padding-left: 10px !important;
}

.list-wrapper .remove {
  font-size: 1.5rem !important;
  color: #ca1717 !important;
}

legend {
  font-size: 14px !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
  width: 35% !important;
  border: 1px solid #4E73D7 !important;
  border-radius: 5px !important;
  padding: 5px 5px 5px 10px !important;
  background-color: #ffffff !important;
}

.editor-toolbar i.separator,
.editor-toolbar a.fa-link,
.editor-toolbar a.fa-picture-o,
.editor-toolbar a.fa-eye,
.editor-toolbar a.fa-columns,
.editor-toolbar a.fa-arrows-alt,
.editor-toolbar a.fa-question-circle {
  display: none !important;
}

.editor-statusbar .words:before {
  content: "palabras: " !important;
}

.editor-statusbar .lines:before {
  content: "lineas: " !important;
}

.CodeMirror {
  min-height: 100px !important;
  z-index: auto !important;
}

.CodeMirror-scroll {
  min-height: 150px !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.content-show-message {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  top: 100px;
}

.content-show-message .mdi {
  font-size: 150px;
}

.content-show-message > p {
  margin: 10px auto;
  font-size: 20px;
}

#settings-trigger-empty i {
  color: black;
  font-size: 20rem;
}

#settings-trigger-empty {
  position: relative;
  bottom: 0;
  right: 0px;
  height: 30vh;
  width: 100%;
  background: transparent;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn-header {
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
  padding: 0.625rem 0.625rem !important;
  text-align: center !important;
}

.navbar .navbar-menu-wrapper {
  padding-left: 0.5rem !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
  height: 45px !important;
}

.header-title {
  padding: 12px 0px 10px;
  width: 100%;
}

.content-header {
  width: 100%;
}

.single-button {
  margin: 0px 10px;
}

.container-buttons {
  margin: 20px auto !important;
}

select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default .select2-selection--single select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
  color: #495057 !important;
  height: 51px;
}

.pd-zero {
  padding: 0px !important;
}

.pd-zero-right {
  padding-right: 0px !important;
}

.pd-zero-left {
  padding-left: 0px !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  opacity: 0.5;
}

fieldset {
  min-width: 100% !important;
}

legend {
  padding: 0px 15px;
}

#map {
  height: 50vh;
}

#description {
  font-size: 0.875rem;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.video-container {
  position: relative;
  padding-bottom: 45%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table-bordered th,
.table-bordered td {
  vertical-align: middle;
}

.table .product {
  text-align: center;
  display: flex;
  margin: 5px auto;
}

.table .product a {
  text-align: center;
  display: block;
  margin: 0px auto;
}

.pagination {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin: 0px auto;
  display: inline-flex;
}

.img-thumbnail {
  float: left;
  background-repeat: no-repeat;
  width: 2vw;
  height: 8vh !important;
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  display: block;
}

.navbar-light .navbar-nav .nav-link {
  display: flex;
}

.element-input {
  display: inline-block;
  float: left;
}

.hidden {
  display: none;
}

.dropdown-item {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
}

.right {
  float: right;
}

.left {
  float: left;
}

.separator {
  margin: 0px 5px;
}

.single-button {
  margin: 0px 10px;
}

.container-panel-permission {
  float: left;
}

.container-buttons {
  display: flow-root;
}

.form-buttons {
  position: relative;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  display: block;
  text-align: center;
}

.icon-basf {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-basf-small {
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

