<template>
    <div>
        <div v-if="showAlertList"
            :class="status == 200 ? 'alert alert-success alert-dismissible': 'alert alert-warning alert-dismissible'">
          <a href="#" class="close" @click="closeAlert()" data-dismiss="alert" aria-label="close">&times;</a>
          <div class="container-errors" v-if="errorsList.length > 0" >
                <ul v-if="status == 422">
                    <li v-for="(item,index) in errorsList">
                        <strong v-for="(elem,i) in item" >{{ elem }}</strong>
                    </li>
                </ul>
          </div>

          <div class="container-message" v-if="message != ''">
              <ul v-if="status == 200 || status == 500">
                    <li>
                        <strong>{{ message }}</strong>
                    </li>
                </ul>
          </div>
        </div>
        
        <loading :active.sync="hideForm" 
                :can-cancel="false" 
                :on-cancel="onCancel"
                :is-full-page="true"></loading>

        <div class="card">

            <div class="card-body club-card-creation">
                
                <fieldset class="basics shadow">
                    <legend>Configuración</legend>
                    <vue-form-generator :model="model" 
                               :schema="firstTabSchema"
                               :options="formOptions"
                               ref="firstTabForm">    
                    </vue-form-generator> 
                    <div class="col-sm-12 form-group  element-input">
                        <div class="card info-card" v-if="showDirectorInfo">
                            <div class="card-header">
                                Información del director
                            </div>
                            <div class="card-body">
                                <p>
                                    <i class="mdi mdi-cellphone"></i> <span>{{ directorView.profile.phone }}</span>
                                </p>
                                <p>
                                    <i class="mdi mdi-email"></i> <span>{{ directorView.email }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
<!--                     <div class="col-sm-6 form-group  element-input">
                        <div class="card info-card" v-if="showCoordinatorInfo">
                            <div class="card-header">
                                Información del coordinador
                            </div>
                            <div class="card-body">
                                <p>
                                    <i class="mdi mdi-cellphone"></i> <span>{{ coordinatorView.profile.phone }}</span>
                                </p>
                                <p>
                                    <i class="mdi mdi-email"></i> <span>{{ coordinatorView.email }}</span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                </fieldset>
                <div class="col-sm-12 pd-zero">
                    <button @click="onComplete()" class="btn btn-primary right">Registrar</button>
                </div>
            </div>
        </div>

        <modal-city v-if="modalCities" @close="closeModalCity()"></modal-city>
        <modal-providence v-if="modalProvidences" @close="closeModalProvidence()"></modal-providence>
    </div>
</template>

<script>
    //local registration

    import {FormWizard, TabContent} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';


    import VueFormGenerator from "vue-form-generator";
    Vue.use(VueFormGenerator);

    import fieldDescription from "./fieldDescription.vue";
    Vue.component("fieldDescription", fieldDescription);

    import fieldRadio from "./fieldRadio.vue";
    Vue.component("fieldRadio", fieldRadio);

    import fieldCombo from "./fieldCombo.vue";
    Vue.component("fieldCombo", fieldCombo);

    const uuidv1 = require('uuid/v1');

    export default {
        props:['urlIndex','club','typeComponent'],
        components: {
            FormWizard,
            TabContent,
            Loading,
        },
        mounted() {
            this.getCities();
            this.getProvidences();
            this.getDirectors();
            // this.getCoordinators();

            if(this.typeComponent == 'edit'){
                this.loadInfo(this.club);
            }
        },
        computed: {

        },
        data:function(){
            let out = this;
            return{
                
                hideForm:false,

                errorsList:[],
                showAlertList:false,
                status:0,
                message:'',
                
                showTextHelp:false,
                showDirectorInfo:false,
                showCoordinatorInfo:false,
                directorView:{},
                coordinatorView:{},

                modalCities:false,
                modalProvidences:false,
                
                cities: [],
                providences:[],
                directors:[],
                coordinators:[],
                directorsList:[],
                coordinatorsList:[],
                helpText: '',
                showTextHelpLocation:false,
                helpTextLocation:'',
                formOptions: {
                  validationErrorClass: "has-error",
                  validationSuccessClass: "has-success",
                  validateAfterChanged: true
                },
                firstTabSchema:{
                    fields:[
                        {
                            type: "input",
                            inputType: "text",
                            label: "Código Altafit",
                            model: "uuid",
                            required:true,
                            styleClasses:'col-xs-12 pd-zero'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Nombre del club",
                            model: "name",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El nombre del club es obligatorio."
                            }),
                            styleClasses:'col-xs-12 pd-zero'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Provis public key",
                            model: "pv_pk",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "La llave publica es obligatoria."
                            }),
                            styleClasses:'col-sm-4 pd-zero-left element-input'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Provis secret key",
                            model: "pv_sk",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "La llave privada es obligatoria."
                            }),
                            styleClasses:'col-sm-4 element-input'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "ID Provis",
                            model: "provis_id",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El id es obligatorio."
                            }),
                            styleClasses:'col-sm-4 pd-zero-right element-input'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "DNS",
                            model: "dns",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "DNS es obligatoria."
                            }),
                            styleClasses:'col-sm-3 pd-zero-left element-input'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Puerto",
                            model: "port",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El puerto es obligatorio."
                            }),
                            styleClasses:'col-sm-1 element-input'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Sufijo",
                            model: "suffix",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El sufijo es obligatorio."
                            }),
                            styleClasses:'col-sm-2 element-input'
                        },
                        {
                            type: "combo",
                            model: "type",
                            label: 'Tipo',
                            values: [
                                { name: "Franquicia", id: "Franquicia"},
                                { name: "Propio", id: "Propio"}
                            ],
                            required:true,

                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El tipo es obligatorio."
                            }),
                            styleClasses:'col-sm-3 pd-zero-right element-input',
                            onChanged: function(model, newVal, oldVal, field) {
                                if(newVal == 'Franquicia'){
                                    $('.origin').addClass('disabled')
                                }else{
                                    $('.origin').removeClass('disabled')
                                }
                            },
                        },
                        {
                            type: "combo",
                            model: "origin",
                            label: 'Origen',
                            values: [
                                { name: "Altafit", id: "Altafit"},
                                { name: "Fitness", id: "Ifitness"},
                                { name: "Myst", id: "Myst"}
                            ],
                            // required:true,

                            // validator: VueFormGenerator.validators.string.locale({
                            //     fieldIsRequired: "El tipo es obligatorio."
                            // }),
                            styleClasses:'col-sm-3 element-input origin',
                        },
                        
                        {
                            type: "input",
                            inputType: "text",
                            label: "Razón social",
                            model: "bussines_name",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "La razón social es obligatoria."
                            }),
                            styleClasses:'col-sm-8 element-input pd-zero-left'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "CIF",
                            model: "cif",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El CIF es obligatorio."
                            }),
                            styleClasses:'col-sm-4 element-input pd-zero-right'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Dirección",
                            model: "address",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "La dirección es obligatoria."
                            }),
                            styleClasses:'col-sm-8 element-input pd-zero-left'
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Código Postal",
                            model: "postal_code",
                            required:true,
                            validator: VueFormGenerator.validators.string.locale({
                                fieldIsRequired: "El código postal es obligatorio."
                            }),
                            styleClasses:'col-sm-4 element-input pd-zero-right'
                        },
                        {
                            type: "select",
                            label: "Ciudad",
                            model: "city_id",
                            values: function() {
                              return out.cities
                            },
                            required:true,
                                validator: VueFormGenerator.validators.number.locale({
                                    fieldIsRequired: "La ciudad es obligatoria."
                                }),
                            styleClasses:'col-sm-6 pd-zero-left element-input',
                            onChanged: function(model, newVal, oldVal, field) {
                                if(newVal == 0){
                                    out.modalCities = true;
                                }else{
                                    out.modalCities = false;
                                }
                            },
                        },
                        {
                            type: "select",
                            label: "Provincia",
                            model: "providence_id",
                            values: function() {
                              
                              return out.providences
                            },
                            required:true,
                            validator: VueFormGenerator.validators.number.locale({
                                fieldIsRequired: "La provincia es obligatoria."
                            }),
                            styleClasses:'col-sm-6 pd-zero-right element-input',
                            onChanged: function(model, newVal, oldVal, field) {
                                if(newVal == 0){
                                    out.modalProvidences = true;
                                }else{
                                    out.modalProvidences = false;
                                }
                            },
                        },
                        {
                            type: "select",
                            label: "Director",
                            model: "director_id",
                            values: function() {
                              return out.directors
                            },
                            styleClasses:'col-sm-12 pd-zero element-input',
                            onChanged: function(model, newVal, oldVal, field) {
                                if(newVal != ''){
                                    out.showDirectorInfo = true;
                                    const record = out.directorsList.find(p => p.id === newVal)
                                    out.directorView = record;
                                }
                            },
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Coordinador",
                            model: "coordinator_id",
                            styleClasses:'col-sm-12 pd-zero element-input'
                        },
                     ]
                },
                model:{
                    uuid:null,
                    name:'',
                    pv_sk:'',
                    pv_pk:'',
                    provis_id:'',
                    dns: '',
                    port: '',
                    suffix: '',
                    type: '',
                    origin:'',
                    bussines_name:'',
                    cif:'',
                    address:'',
                    postal_code:'',
                    city_id: '',
                    providence_id: '',
                    director_id: '',
                    coordinator_id: ''
                },
            }
        },
        
        methods: {
            
            onCancel:function(){

            },
            closeAlert:function(){
                this.showAlertList = false
            },
            closeModalCity:function(){
              this.modalCities = false;
              this.getCities();
            },
            closeModalProvidence:function(){
              this.modalProvidences = false;
              this.getProvidences();
            },

            loadInfo:function(club){
                this.model.uuid = club.uuid;
                this.model.name = club.name;
                this.model.pv_sk = club.pv_sk;
                this.model.pv_pk = club.pv_pk;
                this.model.provis_id = club.provis_id;
                this.model.dns = club.dns;
                this.model.port = club.port;
                this.model.suffix = club.suffix;
                this.model.type = club.type;
                this.model.origin = club.origin;
                this.model.bussines_name = club.bussines_name;
                this.model.cif = club.cif;
                this.model.address = club.address;
                this.model.postal_code = club.postal_code;
                this.model.city_id = parseInt(club.city_id);
                this.model.providence_id = parseInt(club.providence_id);
                this.model.director_id = parseInt(club.director_id);
                this.model.coordinator_id = club.coordinator_id;
            },

            getCities(){
                let url ='/cities';
                this.cities = []
                axios.get(url).then(response => {
                    this.cities.push({
                        id:0,
                        name:'-Crear ciudad-'
                    })

                    for(let e in response.data.data){
                        this.cities.push({
                          id:response.data.data[e].id,
                          name:response.data.data[e].name
                        })
                    }
                });
            },

            getProvidences(){
                let url ='/providences';
                this.providences = []
                axios.get(url).then(response => {
                    this.providences.push({
                        id:0,
                        name:'-Crear provincia-'
                    })

                    for(let e in response.data.data){
                      this.providences.push({
                        id:response.data.data[e].id,
                        name:response.data.data[e].name
                      })
                    }
                });
            },

            getDirectors(){
                let url ='/directors';
                axios.get(url).then(response => {
                    this.directorsList = response.data.data;
                    for(let e in response.data.data){
                        this.directors.push({
                            id:response.data.data[e].id,
                            name:response.data.data[e].name+' '+response.data.data[e].profile.lastname
                        })
                    }
                });
            },

            // getCoordinators(){
            //     let url ='/coordinators';
            //     axios.get(url).then(response => {
            //         this.coordinatorsList = response.data.data;
            //         for(let e in response.data.data){
            //             this.coordinators.push({
            //                 id:response.data.data[e].id,
            //                 name:response.data.data[e].name+' '+response.data.data[e].profile.lastname
            //             })
            //         }
            //     });
            // },

            onComplete: function(){
                var out = this;
                if(!this.$refs.firstTabForm.validate()){
                    return this.$refs.firstTabForm.validate();
                }else{
                    this.hideForm = true;
                    let url = '';

                    if(this.typeComponent == 'create'){
                        url ='/store-club';
                    }else{
                        url ='/update-club/'+this.club.id;
                    }
                    

                    axios.defaults.headers.common['X-CSRF-TOKEN'] = $('meta[name="csrf-token"]').attr('content');

                    axios.post(url, this.model)
                      .then(function (response) {
                        out.message = response.data.message 
                        out.status = response.data.status
                        out.hideForm = false;
                        out.showAlertList = true;
                    })
                      .catch(function (error) {
                        let response = error.response.data.errors;

                        for(let e in response){
                            out.errorsList.push(response[e])
                            out.status = 422;
                        }
                        out.showAlertList = true;
                        out.hideForm = false;
                    });

                }
            }
        }
    }
</script>


