<template>
    <div class="content-show-message">
        <div id="settings-trigger-empty">
                <i class="mdi mdi-settings"></i>
        </div>
        <p>
            No se encontraron resultados, porfavor crea un {{ section }} <a v-bind:href="url">aquí</a>
        </p>
    </div>
</template>

<script>
    export default {
        props: ['url','section'],
        mounted() {}
    }
</script>
