<template>
     <ckeditor 
        :editor="editor" 
        tag-name="textarea"
        v-model="value" 
        :disabled="disabled"
        :maxlength="schema.max"
        :placeholder="schema.placeholder"
        :readonly="schema.readonly"
        :config="editorConfig">
          
        </ckeditor>
</template>

<script>

  import CKEditor from '@ckeditor/ckeditor5-vue';
  Vue.use( CKEditor );


  import { abstractField } from "vue-form-generator";
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

  export default {
       mixins: [ abstractField ],
       data:function(){
            return {
                editor: ClassicEditor,
                editorConfig: {
                  language: 'es',
                  toolbar: {
                    items: [
                        'bold',
                        'italic',
                        '|',
                        'bulletedList', 
                        'numberedList',
                        '|',
                        'undo',
                        'redo'
                    ]
                  }
                }
            };
        }
  };
</script>