<template>
    <div class="form-check">
      <label class="form-check-label" >
            <input 
              v-model="value" 
              :disabled="disabled"
              :maxlength="schema.max"
              :placeholder="schema.placeholder"
              :readonly="schema.readonly"
              :value="schema.value"
              type="radio"  
              name="privacy">
            {{ schema.text }} 
      </label>
    </div>
</template>

<script>

  import { abstractField } from "vue-form-generator";

  export default {
       mixins: [ abstractField ]
  };
</script>