<template>
      <select         
        v-model="value" 
        :disabled="disabled"
        :maxlength="schema.max"
        :placeholder="schema.placeholder"
        :readonly="schema.readonly"
        class="form-control">
          <option value="">-Selecciona una opción-</option>
          <option v-for="(item,index) in schema.values" :value="item.id">{{ item.name }}</option>
      </select>
</template>

<script>

  import { abstractField } from "vue-form-generator";

  export default {
       mixins: [ abstractField ]
  };
</script>