<template>
	<transition name="modal">
	   <div class="modal-mask">
	      <div class="modal-wrapper">
	         <div class="modal-container modal-element-add">
	         	<loading :active.sync="hideForm" 
	                :can-cancel="false" 
	                :on-cancel="onCancel"
	                :is-full-page="true"></loading>

	            <div class="modal-header">
	               <slot name="header">
	                  Registrar nuevo representate.
	               </slot>
	            </div>
	            <div class="modal-body modal-element-body-add">
	               	<!-- Name Field -->
	               	<div v-if="showAlertList"
			            :class="messages.status == 200 ? 'alert alert-success alert-dismissible': 'alert alert-warning alert-dismissible'">
			          <a href="#" class="close" @click="closeAlert()" data-dismiss="alert" aria-label="close">&times;</a>
			          <div class="container-errors" v-if="errorsList.length > 0" >
			                <ul v-if="messages.status == 422">
			                    <li v-for="(item,index) in errorsList">
			                        <strong v-for="(elem,i) in item" >{{ elem }}</strong>
			                    </li>
			                </ul>
			          </div>

			          <div class="container-message" v-if="messages.message != ''">
			              <ul v-if="messages.status == 200 || messages.status == 500">
			                    <li>
			                        <strong>{{ messages.message }}</strong>
			                    </li>
			                </ul>
			          </div>
			        </div>

					<div class="form-group col-sm-12">
					    <label for="">Nombre</label>
					    <input type="text" v-model="info.name" class="form-control">
					</div>
	            </div>
	            <div class="modal-footer modal-element-footer-add">
	               <div class="col-sm-12">
	               		<slot name="footer">
		                  <button class="btn btn-info btn-md pull-left" @click="$emit('close')">Cerrar</button>
		                  <button class="btn btn-primary btn-md right" @click="registerProvidence()">Registrar</button>
		               	</slot>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</transition>
</template>

<script>

// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'app',
	data:function(){
	  	return {
	  		info:{
	  			name:''
	  		},
	  		errorsList:[],
            showAlertList:false,
            messages:{
            	status:0,
            	message:''
            },
            hideForm:false
	  	}
	},
	components: {
        Loading,
    },
	mounted(){
		
	},
	methods: {
		onCancel(){

		},
		closeAlert(){
			this.showAlertList = false;
		},
		registerProvidence:function(){
			let url ='/providences';
			let out = this;
            
            axios.defaults.headers.common['X-CSRF-TOKEN'] = $('meta[name="csrf-token"]').attr('content');

            axios.post(url, this.info)
              .then(function (response) {
                out.messages.message = response.data.message 
                out.messages.status = response.data.status
                out.hideForm = false;
                out.showAlertList = true;

                if(response.data.status == 200){
                	out.$emit('close');
                }
            });
		}
		
	},
  	
}
</script>